<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">{% csrf_token %}
        <label for="search">검색어: </label>
        <input id="search" type="text" name="search">
        <input type="submit" value="검색">
    </form>
    <p>검색어확인 : {{ search }}</p>
    <br><br>
    <p>연관어: 유사도</p>
   {% for key, value in results.items %}
        <div>
            <p>{{ key }} : {{ value }}</p>
        </div>
    {% endfor %}
</body>
</html>
